@import "vars";
@import "../../../../../vendor/bower/bootstrap/less/mixins/buttons";

html,
body {
  height: 100%;
  font-family: @font-family;
  color: @color-text;
}

h4 {
  font-weight: bold;
}

a {
  color: @link-color;

  &:hover {
    color: @link-active-color;
    text-decoration: none;
  }
}

p {
  line-height: 1.6em;

  a {
    word-break: break-all;
  }
}

time {
  color: @color-gray;
  font-size: 14px;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -@footer-height;
  padding: 0 0 60px;
  background-color: @color-bg;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  height: @footer-height;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  background-color: @footer-bg;

  color: @footer-text-color;

  a {
    color: @footer-link-color;
    &:hover {
      color: @footer-link-active-color;
    }
  }
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: @color-red;
  }

  .form-control {
    border-color: @color-red;
  }
}

.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}

.btn-success {
  .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
}

.text-red {
  color: @color-red;
}

.nav-pills {
  > li.active > a {
    &, &:hover {
      background-color: @color-orange;
      color: @color-white;
    }
  }
}

.main-header {

  .navbar-header {
    .navbar-brand {
      padding: 10px 15px;
      .logo {
        height: 30px;

      }
    }
  }
  .navbar {
    background-color: @color-white;
    border-bottom: 3px solid @color-orange;

    .navbar-header a,
    .navbar-nav a {
      &:hover {
        color: @color-orange;
      }
    }

    .navbar-nav > li.active > a {
      background-color: @color-orange;
      color: @color-white;
    }
  }

  .dropdown-menu {
    > .active > a {
      &,
      &:hover,
      &:focus {
        background-color: @color-orange;
        color: #FFF;
      }
    }
  }

  .top-user-avatar {
    > a {
      padding: 10px 15px;

      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}

.breadcrumb {
  background: @color-white;
}

.pagination {
  > li > a {

    &, &:hover, &:focus {
      color: @color-orange;
    }
  }

  > .active > a {
    &, &:focus, &:hover {
      background-color: @color-orange;
      border-color: @color-orange;
    }

  }
}

// box
.box {
  background-color: @color-white;
  color: inherit;
  padding: 15px 20px 20px 20px;
  margin-bottom: 15px;

  &.no-padding {
    padding: 0;
  }

  &.thin-padding {
    padding: 8px 10px 10px 10px;
  }

  .box-header {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
  }

  .box-title {
    margin: 0;
    padding: 0;
  }

  .box-header + .box-body {
    margin-top: 10px;
  }

}

.line {
  height: 1px;
  margin: 20px 0;
  padding: 0;
  background: transparent;
  border-style: solid;
  border-color: #DDD;
  border-width: 0 0 1px 0;

  &.line-dashed {
    border-style: dashed;
  }
}

// auth clients
.auth-clients {
  padding-left: 0;
}

.auth-icon.weibo {
  background: url(../images/weibo.png);
}

// news
.news-item {
  .news-item-title {
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;

    a {
      color: @color-black;

      &:hover {
        color: @link-active-color;
      }
    }
  }
  .news-item-meta {
    margin: 5px 0;
    color: @color-gray;

    a {
      color: @color-orange;

    }
  }

  .news-item-content {
    h4 {
      font-weight: 700;
    }
  }
}

// project
.project-item {
  .project-item-title {
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 0;

    a {
      color: @color-black;

      &:hover {
        color: @link-active-color;
      }
    }
  }

  .project-item-meta {
    margin: 5px 0;
    color: @color-gray;

    a {
      color: @color-orange;

    }
  }
}

.project {
  .project-title {
    font-size: 30px;
  }
  .project-meta {
    margin: 15px 0;
    color: @color-gray;

    a {
      color: @color-orange;

    }
  }

  .project-description {
    padding: 30px 0;

    &, & p {
      line-height: 1.8em;
    }

    img {
      max-width: 100% !important;
    }
  }

  .project-attributes {
    background: @color-bg;
    padding: 15px;
    margin-bottom: 15px;

    dl {
      margin: 0;

      dt {
        width: 80px;
      }

      dd {
        margin-left: 100px;
      }
    }
  }
}

.site-index {
  .latest-news {
    ul li {
      padding: 5px 0;
      border-bottom: 1px dashed #DDD;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: @color-blue;
      }
    }
  }
}

.ad {
  position: relative;

  &:before {
    content: '广告';
    background: #888;
    color: #fff;
    padding: 1px 3px;
    text-align: left;
  }
}