@font-family: Helvetica Neue, Helvetica, PingFang SC, "微软雅黑", Tahoma, Arial, sans-serif;

@color-white: #FFFFFF;
@color-black: #000;
@color-lightGreen: #5FB878;

@color-link: @color-lightGreen;
@color-bg: #f3f3f4;

// footer
@footer-height: 60px;
@footer-bg: #393D49;
@footer-text-color: #c2c2c2;
@footer-link-color: @color-lightGreen;
@footer-link-active-color: @color-lightGreen;