html,
body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, "微软雅黑", Tahoma, Arial, sans-serif;
  color: #555555;
}
h4 {
  font-weight: bold;
}
a {
  color: #e67e22;
}
a:hover {
  color: #d67118;
  text-decoration: none;
}
p {
  line-height: 1.6em;
}
p a {
  word-break: break-all;
}
time {
  color: #999999;
  font-size: 14px;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  background-color: #f3f3f4;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  height: 60px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  background-color: #393D49;
  color: #c2c2c2;
}
.footer a {
  color: #c2c2c2;
}
.footer a:hover {
  color: #e67e22;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #E72329;
}
.has-error .form-control {
  border-color: #E72329;
}
.btn-primary {
  color: #fff;
  background-color: #e67e22;
  border-color: #d67118;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #bf6516;
  border-color: #64350b;
}
.btn-primary:hover {
  color: #fff;
  background-color: #bf6516;
  border-color: #9f5412;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #bf6516;
  border-color: #9f5412;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #9f5412;
  border-color: #64350b;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #e67e22;
  border-color: #d67118;
}
.btn-primary .badge {
  color: #e67e22;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #8cc864;
  border-color: #7ec151;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #71b841;
  border-color: #426d26;
}
.btn-success:hover {
  color: #fff;
  background-color: #71b841;
  border-color: #609d38;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #71b841;
  border-color: #609d38;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #609d38;
  border-color: #426d26;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #8cc864;
  border-color: #7ec151;
}
.btn-success .badge {
  color: #8cc864;
  background-color: #fff;
}
.text-red {
  color: #E72329;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  background-color: #e67e22;
  color: #FFFFFF;
}
.main-header .navbar-header .navbar-brand {
  padding: 10px 15px;
}
.main-header .navbar-header .navbar-brand .logo {
  height: 30px;
}
.main-header .navbar {
  background-color: #FFFFFF;
  border-bottom: 3px solid #e67e22;
}
.main-header .navbar .navbar-header a:hover,
.main-header .navbar .navbar-nav a:hover {
  color: #e67e22;
}
.main-header .navbar .navbar-nav > li.active > a {
  background-color: #e67e22;
  color: #FFFFFF;
}
.main-header .dropdown-menu > .active > a,
.main-header .dropdown-menu > .active > a:hover,
.main-header .dropdown-menu > .active > a:focus {
  background-color: #e67e22;
  color: #FFF;
}
.main-header .top-user-avatar > a {
  padding: 10px 15px;
}
.main-header .top-user-avatar > a img {
  height: 30px;
  width: 30px;
}
.breadcrumb {
  background: #FFFFFF;
}
.pagination > li > a,
.pagination > li > a:hover,
.pagination > li > a:focus {
  color: #e67e22;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover {
  background-color: #e67e22;
  border-color: #e67e22;
}
.box {
  background-color: #FFFFFF;
  color: inherit;
  padding: 15px 20px 20px 20px;
  margin-bottom: 15px;
}
.box.no-padding {
  padding: 0;
}
.box.thin-padding {
  padding: 8px 10px 10px 10px;
}
.box .box-header {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
}
.box .box-title {
  margin: 0;
  padding: 0;
}
.box .box-header + .box-body {
  margin-top: 10px;
}
.line {
  height: 1px;
  margin: 20px 0;
  padding: 0;
  background: transparent;
  border-style: solid;
  border-color: #DDD;
  border-width: 0 0 1px 0;
}
.line.line-dashed {
  border-style: dashed;
}
.auth-clients {
  padding-left: 0;
}
.auth-icon.weibo {
  background: url(../images/weibo.png);
}
.news-item .news-item-title {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}
.news-item .news-item-title a {
  color: #000;
}
.news-item .news-item-title a:hover {
  color: #d67118;
}
.news-item .news-item-meta {
  margin: 5px 0;
  color: #999999;
}
.news-item .news-item-meta a {
  color: #e67e22;
}
.news-item .news-item-content h4 {
  font-weight: 700;
}
.project-item .project-item-title {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}
.project-item .project-item-title a {
  color: #000;
}
.project-item .project-item-title a:hover {
  color: #d67118;
}
.project-item .project-item-meta {
  margin: 5px 0;
  color: #999999;
}
.project-item .project-item-meta a {
  color: #e67e22;
}
.project .project-title {
  font-size: 30px;
}
.project .project-meta {
  margin: 15px 0;
  color: #999999;
}
.project .project-meta a {
  color: #e67e22;
}
.project .project-description {
  padding: 30px 0;
}
.project .project-description,
.project .project-description p {
  line-height: 1.8em;
}
.project .project-description img {
  max-width: 100% !important;
}
.project .project-attributes {
  background: #f3f3f4;
  padding: 15px;
  margin-bottom: 15px;
}
.project .project-attributes dl {
  margin: 0;
}
.project .project-attributes dl dt {
  width: 80px;
}
.project .project-attributes dl dd {
  margin-left: 100px;
}
.site-index .latest-news ul li {
  padding: 5px 0;
  border-bottom: 1px dashed #DDD;
}
.site-index .latest-news ul li:last-child {
  border-bottom: none;
}
.site-index .latest-news ul li a {
  color: #6c8ebe;
}
.ad {
  position: relative;
}
.ad:before {
  content: '广告';
  background: #888;
  color: #fff;
  padding: 1px 3px;
  text-align: left;
}
.post-type-original {
  color: #8cc864;
}
.post-item .post-item-title {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}
.post-item .post-item-title a {
  color: #000;
}
.post-item .post-item-title a:hover {
  color: #d67118;
}
.post-item .post-item-meta {
  margin: 5px 0;
  color: #999999;
}
.post-item .post-item-meta span,
.post-item .post-item-meta time,
.post-item .post-item-meta a {
  margin-right: 1em;
}
.post .post-title {
  font-size: 30px;
}
.post .post-meta {
  margin: 15px 0;
  color: #999999;
}
.post .post-meta a {
  color: #e67e22;
}
.post .post-content {
  padding: 30px 0 0 0;
}
.post .post-content,
.post .post-content p {
  line-height: 1.8em;
}
.post .post-content img {
  max-width: 100% !important;
}
.post .post-copyright {
  background-color: #eef7e8;
  border-left: 5px solid #8cc864;
  padding: 5px 5px 5px 10px;
  line-height: 1.8em;
}
.post .post-repost {
  color: #999999;
}
.highlight pre {
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
}
