html,
body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, "微软雅黑", Tahoma, Arial, sans-serif;
  color: #555555;
}
a {
  color: #e67e22;
}
a:hover {
  color: #d67118;
  text-decoration: none;
}
p {
  line-height: 1.6em;
}
p a {
  word-break: break-all;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  background-color: #f3f3f4;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  height: 60px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  background-color: #393D49;
  color: #c2c2c2;
}
.footer a {
  color: #c2c2c2;
}
.footer a:hover {
  color: #e67e22;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #FF5722;
}
.has-error .form-control {
  border-color: #FF5722;
}
.btn-primary {
  color: #fff;
  background-color: #e67e22;
  border-color: #d67118;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #bf6516;
  border-color: #64350b;
}
.btn-primary:hover {
  color: #fff;
  background-color: #bf6516;
  border-color: #9f5412;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #bf6516;
  border-color: #9f5412;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #9f5412;
  border-color: #64350b;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #e67e22;
  border-color: #d67118;
}
.btn-primary .badge {
  color: #e67e22;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5FB878;
  border-color: #4eb069;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #469e5f;
  border-color: #275734;
}
.btn-success:hover {
  color: #fff;
  background-color: #469e5f;
  border-color: #3b8550;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #469e5f;
  border-color: #3b8550;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #3b8550;
  border-color: #275734;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #5FB878;
  border-color: #4eb069;
}
.btn-success .badge {
  color: #5FB878;
  background-color: #fff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  background-color: #5FB878;
  color: #FFFFFF;
}
.main-header .navbar-header .navbar-brand {
  padding: 10px 15px;
}
.main-header .navbar-header .navbar-brand .logo {
  height: 30px;
}
.main-header .navbar {
  background-color: #FFFFFF;
  border-bottom: 3px solid #e67e22;
}
.main-header .navbar .navbar-header a:hover,
.main-header .navbar .navbar-nav a:hover {
  color: #e67e22;
}
.main-header .navbar .navbar-nav > li.active > a {
  background-color: #e67e22;
  color: #FFFFFF;
}
.main-header .dropdown-menu > .active > a,
.main-header .dropdown-menu > .active > a:hover,
.main-header .dropdown-menu > .active > a:focus {
  background-color: #5FB878;
  color: #FFF;
}
.main-header .top-user-avatar {
  width: 20px;
  height: 20px;
}
.breadcrumb {
  background: #FFFFFF;
}
.box {
  background-color: #FFFFFF;
  color: inherit;
  padding: 15px 20px 20px 20px;
}
.box.no-padding {
  padding: 0;
}
.box.thin-padding {
  padding: 8px 10px 10px 10px;
}
.auth-clients {
  padding-left: 0;
}
.auth-icon.weibo {
  background: url(../images/weibo.png);
}
.news-item .news-item-title {
  line-height: 1.5em;
  margin-top: 0;
}
.news-item .news-item-title a {
  color: #000;
}
.news-item .news-item-title a:hover {
  color: #d67118;
}
.news-item .news-item-meta {
  margin: 20px 0;
  color: #999999;
}
.news-item .news-item-meta a {
  color: #e67e22;
}
